.edit-suggestions{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.es-left-col {
    background-color: lightsalmon;
     width: 20%;
    height: 100%;
  }
  .es-right-col {
    background-color: blue;
    width: 80%;
    height: 100%;
  }
  